<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Portfolio_2022_03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShippingInputServlet</display-name>
    <servlet-name>ShippingInputServlet</servlet-name>
    <servlet-class>controller.ShippingInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingInputServlet</servlet-name>
    <url-pattern>/ShippingInputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArrivalInputServlet</display-name>
    <servlet-name>ArrivalInputServlet</servlet-name>
    <servlet-class>controller.ArrivalInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArrivalInputServlet</servlet-name>
    <url-pattern>/ArrivalInputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreListServlet</display-name>
    <servlet-name>StoreListServlet</servlet-name>
    <servlet-class>controller.StoreListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreListServlet</servlet-name>
    <url-pattern>/StoreListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryListServlet</display-name>
    <servlet-name>InventoryListServlet</servlet-name>
    <servlet-class>controller.InventoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryListServlet</servlet-name>
    <url-pattern>/InventoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SlipListServlet</display-name>
    <servlet-name>SlipListServlet</servlet-name>
    <servlet-class>controller.SlipListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlipListServlet</servlet-name>
    <url-pattern>/SlipListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SlipDeleteServlet</display-name>
    <servlet-name>SlipDeleteServlet</servlet-name>
    <servlet-class>controller.SlipCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlipDeleteServlet</servlet-name>
    <url-pattern>/SlipDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShippingArraivalInputServlet</display-name>
    <servlet-name>ShippingArraivalInputServlet</servlet-name>
    <servlet-class>controller.ShippingArraivalInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingArraivalInputServlet</servlet-name>
    <url-pattern>/ShippingArraivalInputServlet</url-pattern>
  </servlet-mapping>
</web-app>