/* 全体 */
.centerMain {
	text-align: center;
}

/* indexのリスト中央ぞろえ */
.indexUl {
	text-align: left;
	float: left;
	position: relative;
	left: 50%;
}

.indexLi {
	list-style: none;
	position: relative;
	left: -130%;
	padding: 10px 0;
}

/* shipping.jspとarraivalInput.jsp */

/* 送り元送り先入力エリア */
.sendInputArea {
	margin-bottom: 15px;
}

.undeArea {
	clear: both;
	margin-bottom: 20px;
}

/* 伝票入力のリスト中央そろえる */
.formUl {
	float: left;
	position: relative;
	left: 50%;
}

.formLi {
	text-align: left;
	list-style: none;
	position: relative;
	left: 38%;
	padding: 10px 0;
}

/* inventoryList */

/* 左のfilter部分 */
.filterUl {
	list-style: none;
}

.filterUl li {
	text-align: left;
}

.area {
	float: left;
	margin-left: 45px;
	margin-right: 60px;
}

#inventoryListTable {
	margin: auto;
	border-collapse: collapse;
	margin-left: 30px;
}

#inventoryListTable td, #inventoryListTable th {
	border-bottom: 1px solid black;
	width: 80px;
	height: 70px;
}

#inventoryListTable #inventoryListItemName {
	width: 200px;
}

/* slipListのtable中央 */
#slipListArea {
	margin: auto;
	border-collapse: collapse;
}

#slipListArea td, #slipListArea th {
	border-bottom: 1px solid black;
	width: 150px;
	height: 70px;
}