/* 全体 */
.centerMain {
	text-align: center;
}

/* indexのリスト中央ぞろえ */
.indexUl {
	text-align: left;
	float: left;
	position: relative;
	left: 50%;
}

.indexLi {
	list-style: none;
	position: relative;
	left: -130%;
	padding: 10px 0;
}

/* shipping.jspとarraivalInput.jsp */

/*arraivalInput.jspの上の伝票コードと店舗の選択画面。 */

/* 送り元送り先入力エリア */
#shipArraiContent {
	margin: auto;
	width: 1000px;
}

.tableArea {
	width: 70%;
	margin: auto;
}

.centerMain .labetTd {
	text-align: left;
}

.labelTh {
	padding-left: 8px;
	background-color: #EEEEEE;
	text-align: left;
}

.tableArea th {
	width: 20%;
}

.tableArea td {
	width: 70%
}

#entryButton {
	margin-top: 20px;
	margin-bottom: 30px;
}

#sameStore {
	display: none;
}

#firstTr {
	display: none;
}

.undeArea input {
	text-align: center;
}

.underArea input {
	display: none;
}

/* 伝票入力のリスト中央そろえる */
.formUl {
	float: left;
	position: relative;
	left: 50%;
}

.formLi {
	text-align: left;
	list-style: none;
	position: relative;
	left: 42%;
	padding: 10px 0;
}

/* inventoryList */
#inventoryListTable {
	margin: auto;
	border-collapse: collapse;
}

.sort.desc:after {
	content: "▼";
}

.sort.asc:after {
	content: "▲";
}

/*テーブル検索 */
.searchArea {
	margin: 15px 0px;
}

/*左右並べて表示 */
.contentArea {
	display: flex;
}

.contentLeft {
	width: 250px;
	margin-left: 30px;
}

.contentLeftUl {
	list-style: none;
	text-align: left;
	margin-left: 30px;
}

.filter {
	display: none;
	text-align: center;
}

.pointer {
	cursor: pointer;
}

#inventoryListTable td, #inventoryListTable th {
	border-bottom: 1px solid black;
	width: 80px;
	height: 70px;
}

#inventoryListTable #inventoryListItemName {
	width: 200px;
}

#inventoryListTable #bestBefore {
	width: 170px;
}

/* slipListのtable中央 */
#slipListArea {
	margin: auto;
	border-collapse: collapse;
}

#slipListArea td, #slipListArea th {
	border-bottom: 1px solid black;
	width: 150px;
	height: 70px;
}

.slipUnder {
	margin: 15px;
}